h1 {
  margin-bottom: 40px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 20px;
  }
  textarea,
  input[type="text"] {
    margin-bottom: 40px;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    border-color: rgba(0,0,0, 0.5);
  }

  input[type="submit"] {
    padding: 10px;
    -webkit-appearance: none;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    font-size: 24px;
    text-transform: capitalize;
    margin: 0 auto;
  }
}